<br> </br>
<hr> </hr>
<p style="font-weight: bold;"> Please find your gift dashboard link below. Revisit this status page via the confirmation email if you ever need this link again: </p>
<a href="example.com">examplelink.com</a>
<hr> </hr>